node_modules
.env
data/uploads/*
!data/uploads/.gitkeep
data/immich-external/**/*
!data/immich-external/**/.gitkeep
data/requests.json
data/settings.json
mobile/node_modules
mobile/android
mobile/.expo
